@import '~@jibrelcom/ui/src/theme';

.header {
  z-index: 1;
  position: relative;
  background: $color-white;
  height: 80px;

  @include screen(">small") {
    height: 96px;
  }
}

.main {
  flex-direction: column;
}
