@import '../../scss/colors';
@import '../../scss/fonts';

.container {
  @include font-body-s;

  display: inline-block;
  padding: 10px 24px;
  background-color: $color-black;
  border-radius: 12px;
  color: $color-white;
  text-align: center;
}
