@import '~@jibrelcom/ui/src/index.scss';

.title {
  @include font-h1-xs;

  width: $column-s-4;
  padding-top: 64px;
  padding-bottom: 32px;
  flex-shrink: 1;

  @include screen('>xsmall') {
    @include font-h1-s;
  }

  @include screen('>small') {
    @include font-h1-m;
  }

  @include screen('>medium') {
    @include font-h1-l;
  }
}

.back {
  height: 24px;
  margin-bottom: 24px;
}
