@import '~@jibrelcom/ui/scss/fonts';
@import '~@jibrelcom/ui/scss/grid';

.title {
  @include font-h1;

  width: $column-s-4;
  padding-top: 64px;
  padding-bottom: 32px;
  flex-shrink: 1;
}

.back {
  height: 24px;
  margin-bottom: 24px;
}
