@import '~@jibrelcom/ui/src/index.scss';

.step {
  width: $column-l-5;

  @include screen('>xsmall') {
    width: $column-s-4;
  }

  @include screen('>small') {
    width: $column-m-4;
  }

  @include screen('>medium') {
    width: $column-l-5;
  }
}

.subtitle {
  @include font-h2-l;
  padding: 24px 0;
}

.submit {
  margin: 64px 0;
}
