@import '../../scss/colors';

.icon {
  display: inline-block;
  stroke-width: 0;
  fill-opacity: 1;
  stroke-opacity: 0;
  transition: stroke 0.3s ease 0s;
  cursor: inherit;
}

.empty {
  width: 24px;
  height: 24px;
  background-color: $color-red;
}

.colored {
  fill-opacity: initial;
  stroke-width: initial;
}

.blank {
  fill-opacity: 0;
  stroke-opacity: 1;
  stroke-width: 1.5px;
}
