@import '../theme/colors';
@import '../utils/scss/ellipsis';
@import '../utils/scss/disabled';

.button {
  @include ellipsis;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 4px;
  border-style: solid;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 19px 12px 18px;
  border-radius: 32px;
  transition:
          .15s ease-in-out background,
          .15s ease-in-out border-color,
          .15s ease-in-out color;

  &:hover, &:focus, &:active {
    text-decoration: none;
    cursor: pointer;
  }
}

.main {
  background: $color-main-blue;
  border-color: $color-main-blue;
  color: $color-white;

  &:hover {
    background: $color-white;
    color: $color-main-blue;
  }

  &:active {
    background: $color-main-blue-10;
    color: $color-main-blue;
  }

  @include disabled {
    background: $color-main-black-10;
    border-color: $color-main-black-10;
    color: $color-main-black-40;
    cursor: auto;
  }
}

.secondary {
  background: transparent;
  border-color: $color-main-black-30;
  color: $color-main-black;
  border-width: 1px;
  padding: 22px 15px 21px;

  &:hover {
    background: transparent;
    border-color: $color-main-black-30;
    color: $color-main-black;
  }

  &:active {
    background: transparent;
    border-color: $color-main-black-30;
    color: $color-main-black;
  }

  @include disabled {
    background: transparent;
    border-color: $color-main-black-30;
    color: $color-main-black;
  }
}
