@import '../theme/colors';
@import '../Loader/style';
@import '../utils/scss/ellipsis';
@import '../utils/scss/disabled';

.button {
  @include ellipsis;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 4px;
  border-style: solid;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  padding: 19px 12px 18px;
  border-radius: 32px;
  transition:
          .15s ease-in-out background,
          .15s ease-in-out border-color,
          .15s ease-in-out color;

  &:hover, &:focus, &:active {
    text-decoration: none;
    cursor: pointer;
  }
}

.main {
  background: $color-blue;
  border-color: $color-blue;
  color: $color-white;

  &:hover {
    background: $color-white;
    color: $color-blue;
  }

  &:active {
    background: $color-blue-10;
    color: $color-blue;
  }

  &.loading {
    height: 64px;
    padding: 0;

    &:hover {
      .loader > .dot {
        background-color: $color-blue;
      }
    }

    .loader > .dot {
      background-color: $color-white;
    }
  }

  @include disabled {
    background: $color-black-10;
    border-color: $color-black-10;
    color: $color-black-40;
    cursor: auto;

    &.loading {
      &,
      &:hover {
        .loader > .dot {
          background-color: $color-black-60;
        }
      }
    }
  }
}

.secondary {
  background: transparent;
  border-color: $color-black-30;
  color: $color-black;
  border-width: 1px;
  padding: 22px 15px 21px;

  &:hover {
    background: transparent;
    border-color: $color-black-30;
    color: $color-black;
  }

  &:active {
    background: transparent;
    border-color: $color-black-30;
    color: $color-black;
  }

  @include disabled {
    background: transparent;
    border-color: $color-black-30;
    color: $color-black;
    cursor: auto;
  }
}
