@import '../Grid/grid';
@import '../theme/media';
@import '../utils/scss/flex';

.main {
  margin-bottom: 128px;
}

.text,
.button {
  display: block;
  width: $column-s-4;
  margin: 32px auto 0;

  @include screen('>xsmall') {
    width: $column-m-8;
  }
}

.text {
  @include screen('>small') {
    width: $column-m-6;
    margin: 48px auto 0;
  }

  @include screen('>medium') {
    width: $column-l-6;
    margin: 64px auto 0;
  }
}

.button {
  @include screen('>small') {
    width: $column-m-4;
    margin: 48px auto 0;
  }

  @include screen('>medium') {
    width: $column-l-4;
    margin: 64px auto 0;
  }
}
