@import '~@jibrelcom/ui/scss/colors';
@import '~@jibrelcom/ui/scss/flex';
@import '~@jibrelcom/ui/scss/icon-color';

.main {
  @include flex-column-center;

  min-width: 100vw;
  min-height: 100vh;
  padding-top: 96px;
  background-color: $color-blue-5;
}

.submit {
  margin-top: 30px;
  margin-bottom: 32px;
}

.signin {
  width: 100%;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  color: $color-black;
}

.action {
  min-width: 96px;
}

.terms a {
  color: $color-blue;
}

.arrow {
  @include icon-color($color-blue);
}
