@import '~@jibrelcom/ui/src/Grid/grid';
@import '~@jibrelcom/ui/src/theme/fonts';
@import '~@jibrelcom/ui/src/theme/media';
@import '~@jibrelcom/ui/src/theme/colors';
@import '~@jibrelcom/ui/src/utils/scss/flex';
@import '~@jibrelcom/ui/src/utils/scss/iconColor';

.back {
  margin-top: 64px;
}

.risk-annotation {
  @include font-subheader-2-s;

  margin-bottom: 16px;

  @include screen('>small') {
    @include font-subheader-2-l;

    margin-bottom: 24px;
  }
}

.form {
  width: $column-s-4;

  @include screen('>xsmall') {
    width: $column-m-5;
  }

  @include screen('>small') {
    width: $column-m-4;
  }

  @include screen('>medium') {
    width: $column-l-5;
  }
}

.label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 140%;
  color: $color-black-60;
}

.value {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: $color-black;
}

.note,
.agreement {
  width: $column-s-4;
  font-size: 24px;
  line-height: 140%;
  color: $color-black;

  @include screen('>xsmall') {
    width: $column-m-8;
  }

  @include screen('>small') {
    width: $column-m-5;
  }

  @include screen('>medium') {
    width: $column-l-8;
  }
}

.note {
  margin-top: 64px;
}

.download {
  margin-top: 36px;
}

.agreement {
  margin-top: 32px;

  span {
    font-weight: 800;
  }
}

.submit {
  @include flex-row-center;
  margin: 32px 0;

  @include screen('>xsmall') {
    margin: 48px 0;
  }

  @include screen('>small') {
    justify-content: flex-start;

    margin: 64px 0;
  }
}

.button-description {
  @include font-caption;
  margin-top: 16px;
  text-align: center;

  @include screen('>small') {
    margin-top: 0;
    text-align: left;
    text-align: start; // progressive enhancement for RTL
  }

  @include screen('>xsmall', '<small') {
    padding: 0 25%;
  }
}

.bold {
  font-weight: bold;
}

.sticky {
  position: sticky;
  bottom: 0;
  padding: 32px 0;
  background-color: $color-white;

  &::before {
    content: '';
    display: block;
    height: 64px;
    position: absolute;
    top: -64px;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, $color-white, rgba(255, 255, 255, 0.001));
  }
}

.amount {
  margin-bottom: 64px;
  font-size: 32px;
  font-weight: 800;
  line-height: 38px;
  text-align: center;
  color: $color-green;
}

.warning {
  @media print {
    display: none;
  }
}

.details {
  margin-top: 24px;
  padding: 30px 24px;
  background-color: $color-blue-5;
  border-radius: 12px;

  @media print {
    padding: 0;
  }
}

.item {
  margin-top: 24px;
  text-align: left;

  &:first-child {
    margin-top: 0;
  }
}

.error {
  @include flex-row-center;

  position: fixed; // old browsers fallback
  position: sticky;
  bottom: 20px;
}

.back,
.note,
.download,
.agreement,
.submit,
.error {
  @media print {
    display: none;
  }
}

.success {
  padding-bottom: 0;
}

.actions {
  width: 100%;
  margin-bottom: 64px;

  @media print {
    display: none;
  }
}
