@import '../theme/colors';
@import '../utils/scss/ellipsis';
@import '../utils/scss/disabled';

.button {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 100%;
  border-width: 2px;
  border-style: solid;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 20px;
  transition:
          .15s ease-in-out background,
          .15s ease-in-out border-color,
          .15s ease-in-out color;

  background: $color-main-blue;
  border-color: $color-main-blue;
  color: $color-white;

  &:hover {
    background: $color-white;
    color: $color-main-blue;
    cursor: pointer;
  }

  &:active {
    background: $color-main-blue-10;
    color: $color-main-blue;
  }

  @include disabled {
    background: $color-main-black-10;
    border-color: $color-main-black-10;
    color: $color-main-black-40;
    cursor: auto;
  }

  &:hover, &:focus, &:active {
    text-decoration: none;
  }
}

.text {
  @include ellipsis;
  flex: 1 1 auto;
  margin: 5px 8px;
}

.icon {
  width: 24px;
}
