@import '~@jibrelcom/ui/src/index.scss';

.title {
  @include font-h2-s;

  padding: 24px 0;
  flex: 1;

  @include screen('>small') {
    @include font-h2-l;
  }
}

.subtitle {
  @include font-h2-l;
  padding: 24px 0;
}

.caption {
  @include font-caption;
  color: rgba(8, 30, 57, 0.6);
  margin-bottom: 30px;
}

.step {
  width: $column-s-4;

  @include screen('>xsmall') {
    width: $column-m-5;
  }

  @include screen('>small') {
    width: $column-m-4;
  }

  @include screen('>medium') {
    width: $column-l-5;
  }
}

.additional-title {
  display: flex;
  align-items: center;
}

.group-title {
  @include font-h3-s;
  padding: 8px 0 24px;
}

.add-link {
  margin-bottom: 60px;
}

.submit {
  margin: 64px 0;
}

.submit-error {
  @include font-body-s;
  color: #DC3632;
}

.background {
  background-size: 50%;
  background-image: none;
  background-repeat: no-repeat;
  background-position: top right;

  @include screen('>small') {
    &.company {
      background-image: url('../../../../public/images/pic_kyc_company.svg');
    }

    &.address {
      background-image: url('../../../../public/images/pic_kyc_geo.svg');
    }

    &.contact {
      background-image: url('../../../../public/images/pic_kyc_man.svg');
    }

    &.beneficiary {
      background-image: url('../../../../public/images/pic_kyc_plus.svg');
    }

    &.director {
      background-image: url('../../../../public/images/pic_kyc_docs.svg');
    }
  }
}
