@import '../theme/fonts';
@import '../theme/colors';
@import '../utils/scss/iconColor';

.input {
  position: relative;
  cursor: pointer;

  &:hover {
    .border {
      border-color: $color-blue-30;
    }

    .icon {
      @include icon-color($color-blue-60);
    }
  }

  &.active {
    .button {
      z-index: 1;
    }
  }

  &.error {
    &,
    &:hover {
      .label {
        color: $color-red;
      }

      .icon {
        @include icon-color($color-black-30);
      }
    }

    &,
    &.active {
      .border {
        border-color: $color-red-30;
      }
    }
  }

  &.loading {
    .name {
      color: $color-black-40;
    }
  }
}

.field {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.label {
  cursor: default;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 2px;
  pointer-events: none;
  width: 100%;
  height: 64px;
  border-radius: 4px;
  border: 1px solid $color-black-30;
  transition: border-color 0.2s ease-in-out;
}

.name,
.placeholder {
  @include font-body-l;

  position: absolute;
  top: 0;
  left: 0;
  padding: 29px 16px 0 16px;

  [dir=rtl] & {
    right: 0;
    left: initial;
  }
}

.name {
  max-width: 100%;
  padding-right: 180px;
  color: $color-black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  [dir=rtl] & {
    padding-left: 180px;
    padding-right: 16px;
  }
}

.size {
  @include font-body-s;

  position: absolute;
  top: 0;
  right: 0;
  padding: 21px 56px 0 56px;
  color: $color-black-40;
}

.placeholder {
  color: $color-black-40;
}

.button {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 16px;
  background: none;
  border: none;
}

.size,
.button {
  [dir=rtl] & {
    left: 0;
    right: initial;
  }
}

.icon {
  @include icon-color($color-black-30);
}
