@import '~@jibrelcom/ui/src/theme/colors';
@import '~@jibrelcom/ui/src/theme/fonts';
@import '~@jibrelcom/ui/src/utils/scss/iconColor';

.tabs {
  margin-bottom: 48px;
}

.tab {
  margin-bottom: 16px;
}

.button {
  display: block;
  height: 100%;
  padding: 23px;
  border: 1px solid $color-black-30;
  border-radius: 24px;
  text-decoration: none;

  .icon {
    display: block;
    margin-bottom: 8px;
  }

  .title {
    @include font-body;
    color: $color-black;
  }

  &:hover {
    border-color: $color-blue-40;

    .icon {
      @include icon-color($color-blue-60);
    }
  }

  &:active {
    background-color: $color-blue-10;
  }

  &.is-selected, &:active {
    padding: 20px;
    border: 4px solid $color-blue;

    .icon {
      @include icon-color($color-blue);
    }
  }

  &.is-disabled {
    cursor: default;
    padding: 23px;
    border: 1px solid $color-black-10;
    background-color: transparent;

    .icon {
      @include icon-color($color-black-20);
    }

    .title {
      color: $color-black-20;
    }
  }
}

.section {
  margin-bottom: 64px;
  display: none;

  &.is-selected {
    display: block;
  }
}
