@import '~@jibrelcom/ui/src/Grid/grid';
@import '~@jibrelcom/ui/src/theme/fonts';
@import '~@jibrelcom/ui/src/theme/media';
@import '~@jibrelcom/ui/src/theme/colors';
@import '~@jibrelcom/ui/src/utils/scss/flex';

.data {
  @include flex-row;

  width: 100%;
  min-height: 184px;
  padding: 16px 24px;
  flex-wrap: wrap;
  border-radius: 12px;
  background-color: $color-blue-5;

  &.loading {
    @include flex-column-center;
  }

  @media print {
    padding: 0;
  }
}

.item {
  width: $column-s-4;
  margin: 16px 0;

  @include screen('>xsmall') {
    width: $column-s-2;
  }

  @include screen('>medium') {
    width: $column-l-6;
  }
}

.label {
  font-size: 12px;
  line-height: 140%;
  color: $color-black-60;
}

.value {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  color: $color-black;
}
