@import '~@jibrelcom/ui/scss/grid';
@import '~@jibrelcom/ui/scss/media';
@import '~@jibrelcom/ui/scss/colors';
@import '~@jibrelcom/ui/scss/flex';

.data {
  @include flex-row;

  width: 100%;
  min-height: 184px;
  padding: 16px 24px;
  flex-wrap: wrap;
  border-radius: 12px;
  background-color: $color-blue-5;

  &.loading {
    @include flex-column-center;
  }

  @media print {
    padding: 0;
  }
}

.item {
  width: $column-s-4;
  margin: 16px 0;

  @include screen('>xsmall') {
    width: $column-s-2;
  }

  @include screen('>medium') {
    width: $column-l-6;
  }
}
