@import '~@jibrelcom/ui/scss/colors';
@import '~@jibrelcom/ui/scss/fonts';

.title {
  @include font-h2;

  margin-bottom: 24px;
  width: 100%;
}

.choice {
  padding-bottom: 48px;
}

.button {
  display: flex;
}

.info {
  margin-top: 64px;
  font-size: 18px;
  line-height: 140%;
}

.content {
  p {
    margin-bottom: 16px;
  }

  ul {
    li {
      position: relative;
      padding: 0 24px;
      margin-bottom: 24px;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 18px;
        line-height: 140%;
        color: $color-black-30;
        content: "•";

        [dir=rtl] & {
          right: 0;
          left: initial;
        }
      }
    }
  }
}

.support {
  a {
    white-space: nowrap;
  }
}

.actions {
  padding-bottom: 48px;
}

.action {
  margin-bottom: 16px;
}
