@import '../../scss/media';
@import '../../scss/colors';

.wrapper {
  display: block;
  margin-bottom: 16px;

  @include screen('>small') {
    margin-bottom: 24px;
  }

  &.info .message {
    display: block;
    color: $color-black-60;
  }

  &.error .message {
    display: block;
    color: $color-red;
  }

  &.success .message {
    display: block;
    color: $color-blue;
  }
}

.message {
  display: none;
  margin-top: 8px;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.54px;
}
