@import '~@jibrelcom/ui/src/index';

.title {
  @include font-h2-l;
  padding-bottom: 24px;
  width: 100%;
}

.group-title {
  @include font-title;
  padding: 8px 0 24px;
}

.form {
  width: $column-s-4;

  @include screen('>xsmall') {
    width: $column-m-5;
  }

  @include screen('>small') {
    width: $column-m-4;
  }

  @include screen('>medium') {
    width: $column-l-5;
  }
}

.background {
  background-size: 50%;
  background-image: none;
  background-repeat: no-repeat;
  background-position: top right;

  @include screen('>small') {
    &.personal {
      background-image: url('../../public/images/pic_kyc_man.svg');
    }

    &.residency {
      background-image: url('../../public/images/pic_kyc_geo.svg');
    }

    &.income {
      background-image: url('../../public/images/pic_kyc_docs.svg');
    }
  }
}

.submit {
  max-width: 360px;
  margin: 64px 0;
}
