@import '~@jibrelcom/ui/src/theme/colors';

.main {
  padding: 32px;
  background-size: cover;
  background-position: left -130px top -80px;
  background-repeat: no-repeat;
  background-color: $color-blue-5;
  background-image: url('../../../../public/images/img_circle_plus.png');
  border-radius: 24px;

  .link {
    display: inline-block;
    margin-top: 75px;
    margin-bottom: 16px;

    .button {
      width: auto;
    }
  }
}

.title {
  margin-top: 175px;
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  color: $color-black;
}
