@import '~@jibrelcom/ui/src/theme/fonts';
@import '~@jibrelcom/ui/src/theme/media';
@import '~@jibrelcom/ui/src/theme/colors';
@import '~@jibrelcom/ui/src/utils/scss/flex';

.main {
  @include flex-column;

  justify-content: center;
  align-items: flex-start;
  height: 300px;
  margin: 0;
  padding: 0 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $color-blue-5;
  background-image: url('../../../../public/images/pic_placeholder_portfolio@2x.jpg');

  @include screen('>xsmall') {
    padding: 0 48px;
  }

  @include screen('>small') {
    padding: 0 64px;
  }

  .link {
    @include font-button-1;

    display: inline-block;
    margin-top: 32px;
    color: $color-blue;
    text-transform: uppercase;
  }
}

.title,
.description {
  color: $color-black;
}

.title {
  @include font-h3;
}

.description {
  @include font-caption;

  margin-top: 24px;
}
