@import '~@jibrelcom/ui/scss/media';

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  flex: 0 0 auto;
}

.content {
  flex: 1 0 auto;
  flex-direction: column;
  margin-bottom: 80px;

  @include screen('>small') {
    margin-bottom: 112px;
  }

  @include screen('>medium') {
    margin-bottom: 128px;
  }

  @include screen('>large') {
    margin-bottom: 152px;
  }
}

.footer {
  flex: 0 0 auto;
}
