@import '~@jibrelcom/ui/src/theme';
@import '~@jibrelcom/ui/src/utils/scss/flex';
@import '~@jibrelcom/ui/src/utils/scss/iconColor';

.footer {
  height: 252px;
  padding: 24px 40px;
  background: $color-white;
}

.main {
  @include flex-row;

  max-width: 1128px;
  margin: 0 auto;
}

.copy {
  margin-top: 20px;
  font-size: 12px;
  line-height: 140%;
  color: $color-black-60;
}

.links {
  @include flex-row;

  margin-left: auto;
}

.group {
  @include flex-column;

  width: 168px;

  a {
    margin-top: 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-black-60;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $color-black-30;
}

.social {
  @include flex-row;

  align-items: center;
}

.icon {
  @include icon-color($color-black-40);

  width: 14px;
  height: 14px;
  margin-right: 12px;
}
