$color-black: #081e39;
$color-black-90: #21354d;
$color-black-80: #394b61;
$color-black-70: #536275;
$color-black-60: #6b7888;
$color-black-50: #848f9c;
$color-black-40: #9ca5b0;
$color-black-30: #b5bcc4;
$color-black-20: #ced2d7;
$color-black-10: #e7e9ec;
$color-black-5: #f2f3f5;

$color-blue: #003dc6;
$color-blue-90: #1a51cc;
$color-blue-80: #3364d1;
$color-blue-70: #4d77d7;
$color-blue-60: #668bdd;
$color-blue-50: #809ee3;
$color-blue-40: #99b1e8;
$color-blue-30: #b3c5ee;
$color-blue-20: #ccd8f4;
$color-blue-10: #e6ecfa;
$color-blue-5: #f2f5fc;

$color-red: #DC3632;
$color-red-60: #ea8684;
$color-red-30: #f5c3c2;
$color-red-10: #FBEBEB;

$color-white: #fff;
$color-green: #0DA37B;

$color-orange: #FF7D45;
$color-orange-10: #FFF2EC;
