$color-main-black: #081e39;
$color-main-black-90: #21344d;
$color-main-black-80: #394b61;
$color-main-black-70: #526274;
$color-main-black-60: #6b7888;
$color-main-black-50: #848f9c;
$color-main-black-40: #9ca5b0;
$color-main-black-30: #b5bcc4;
$color-main-black-20: #ced2d7;
$color-main-black-10: #e6e9eb;

$color-main-blue: #003dc6;
$color-main-blue-90: #1a51cc;
$color-main-blue-80: #3364d1;
$color-main-blue-70: #4d77d7;
$color-main-blue-60: #668bdd;
$color-main-blue-50: #809ee3;
$color-main-blue-40: #99b1e8;
$color-main-blue-30: #b3c5ee;
$color-main-blue-20: #ccd8f4;
$color-main-blue-10: #e6ecfa;
$color-main-blue-5: #f2f5fc;

$color-main-red: #DC3632;
$color-main-red-60: #ea8684;
$color-main-red-30: #f5c3c2;

$color-white: #fff;
