@import 'colors.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

[dir=rtl] body {
  font-family: Tahoma, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: $color-black;
  min-width: 360px;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: $color-blue thin dotted;
}

:global(#app) {
  height: 100%;
}
