@import '../theme/colors';

.message {
  margin-top: 32px;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: -0.54px;

  &.info {
    color: $color-main-black-60;
  }

  &.error {
    color: $color-main-red;
  }

  &.success {
    color: $color-main-blue;
  }
}
