@import '~@jibrelcom/ui/src/theme/fonts';
@import '~@jibrelcom/ui/src/theme/colors';

.investment {
  margin-bottom: 64px;
}

.back {
  margin-bottom: 24px;

  @media print {
    display: none;
  }
}

.amount-title {
  @include font-h2;
  margin-bottom: 16px;
}

.amount-value {
  @include font-h2;
  color: $color-green;
}
