@import '~@jibrelcom/ui/scss/media';
@import '~@jibrelcom/ui/scss/colors';
@import '~@jibrelcom/ui/scss/fonts';
@import '~@jibrelcom/ui/scss/grid';

.main {
  width: 100%;
  padding-bottom: 128px;
}

.hero {
  max-width: 100%;
  margin: 0 auto;
}

.title {
  @include font-h1;

  margin-top: 32px;
  text-align: center;

  @include screen('>small') {
    margin-top: 48px;
  }

  @include screen('>medium') {
    margin-top: 64px;
  }
}

.text {
  @include font-subheader-2;

  width: $column-s-4;
  margin: 32px auto;
  text-align: center;
  color: $color-black;

  @include screen('>xsmall') {
    width: $column-m-4;
  }

  @include screen('>small') {
    width: $column-m-6;
    margin: 48px auto;
  }

  @include screen('>medium') {
    width: $column-l-6;
    margin: 64px auto;
  }
}

.actions {
  width: 100%;
}

.button {
  display: block;
  width: $column-s-4;
  margin: 0 auto;
  text-decoration: none;

  @include screen('>xsmall') {
    width: $column-m-4;
  }

  @include screen('>small') {
    width: $column-m-4;
  }

  @include screen('>medium') {
    width: $column-l-4;
  }
}
