@import '~@jibrelcom/ui/src/Grid/grid';
@import '~@jibrelcom/ui/src/theme/fonts';
@import '~@jibrelcom/ui/src/theme/media';
@import '~@jibrelcom/ui/src/theme/colors';
@import '~@jibrelcom/ui/src/utils/scss/flex';

.form,
.privacy {
  width: $column-s-4;

  @include screen('>xsmall') {
    width: $column-m-5;
  }

  @include screen('>small') {
    width: $column-m-4;
  }

  @include screen('>medium') {
    width: $column-l-5;
  }
}

.background {
  background-size: 50%;
  background-image: none;
  background-repeat: no-repeat;
  background-position: top 64px right 0;

  @include screen('>small') {
    background-image: url('../../public/images/pic_waitlist.svg');
  }
}

.title {
  @include font-h3-s;

  margin-top: 40px;
  padding-bottom: 8px;
  color: $color-black;
}

.message {
  width: $column-s-4;
  margin: 24px 0;
  font-size: 24px;
  line-height: 140%;
  color: $color-black;

  @include screen('>xsmall') {
    width: $column-m-8;
  }

  @include screen('>small') {
    width: $column-m-5;
  }

  @include screen('>medium') {
    width: $column-l-8;
  }

  span {
    font-weight: 800;
  }
}

.note {
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 140%;
  color: $color-black-60;
}

.submit {
  @include flex-row-center;

  padding: 0;
  margin: 32px 0 0;

  @include screen('>xsmall') {
    margin-top: 48px;
  }

  @include screen('>small') {
    justify-content: flex-start;

    margin-top: 64px;
  }
}

.error {
  @include flex-row-center;

  position: fixed; // old browsers fallback
  position: sticky;
  bottom: 20px;
}
