@import '~@jibrelcom/ui/scss/media';
@import '~@jibrelcom/ui/scss/fonts';
@import '~@jibrelcom/ui/scss/colors';

.container {
  @include font-body;
  color: $color-black;

  > :global(.h1-header) {
    @include font-h1;

    margin-top: 24px;
    margin-bottom: 32px;
  }

  > :global(.subheader-2) {
    @include font-subheader-2;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  > :global(.h2-header) {
    @include font-h2;

    margin-top: 48px;
    margin-bottom: 16px;

    @include screen('>small') {
      margin-top: 64px;
      margin-bottom: 24px;
    }
  }

  > :global(.h3-header) {
    @include font-h3;

    margin-top: 64px;
    margin-bottom: 24px;
  }

  > :global(.body) {
    margin-top: 21px;
    margin-bottom: 21px;

    @include screen('>small') {
      margin-top: 21px;
      margin-bottom: 21px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
