@import '~@jibrelcom/ui/src/theme/fonts';
@import '~@jibrelcom/ui/src/theme/colors';
@import '~@jibrelcom/ui/src/utils/scss/flex';

.main {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 24px;
  }
}

.title {
  @include flex-row;
  @include font-title;

  color: $color-black;
}

.description {
  @include font-caption;

  margin-top: 8px;
  color: $color-black-60;
}

.count {
  @include font-button-1;

  margin: 0 8px;
  padding: 3px 12px;
  border-radius: 12px;
  color: $color-blue-60;
  background: $color-blue-10;

  &.pending {
    color: $color-white;
    background: $color-red;
  }
}
