@import '../node_modules/@jibrelcom/ui/src/theme/colors';
@import '../node_modules/@jibrelcom/ui/src/utils/scss/iconColor.scss';

.main {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $color-blue-5;
}

.submit {
  margin-top: 30px;
  margin-bottom: 32px;
}

.signin {
  width: 100%;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  color: $color-black;
}

.action {
  min-width: 96px;
}

.terms {
  margin-left: 4px;
  color: $color-blue;
}

.arrow {
  @include icon-color($color-blue);
}
