@import '~@jibrelcom/ui/scss/fonts';
@import '~@jibrelcom/ui/scss/colors';

.main {
  @include font-body-s;

  display: inline-block;
  text-align: center;
  color: $color-black;
}

.fraction,
.value,
.label {
  display: inline-block;
}

.min,
.value {
  order: 1;

  [dir=rtl] & {
    order: 2;
  }
}

.sec,
.label {
  order: 2;

  [dir=rtl] & {
    order: 1;
  }
}

.value {
  margin: 0 4px;
  font-weight: 600;
  color: $color-blue;
}
