@import '~@jibrelcom/ui/src/theme/colors';

.countdown {
  display: inline-block;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  color: $color-black;
}

.number {
  margin-left: 4px;
  font-weight: 600;
  color: $color-blue;
}
